.col-md-24.pan
  .col-xs-4.col-sm-4.col-md-4.col-lg-4.ptxl
    .em-alt.type-sm
      | Org
    | Yahoo! JAPAN
  .col-xs-16.col-sm-16.col-md-16.col-lg-16.bg-neutral-11.pan
    .col-md-8.txt-c.pvxxl
      .h1.em-high.pvn.mvn.type-accent-5 
        | 16
      .type-sm
        | Running
    .col-md-8.txt-c.pvxxl
      .h1.em-high.pvn.mvn.type-accent-5 
        | 16
      .type-sm
        | Running
    .col-md-8.txt-c.pvxxl
      .h1.em-high.pvn.mvn.type-accent-5 
        | 16
      .type-sm
        | Running
  .col-xs-4.col-sm-4.col-md-4.col-lg-4.ptxl
    .em-alt.type-sm
      | Org Quota
