.col-xs-24.col-sm-24.col-md-24.col-lg-24.pan
  //- Left Panel
  .col-xs-4.col-sm-4.col-md-4.col-lg-4.pan
    .org-label.phxl.ptxl
      .em-alt.type-sm.em-low
        | Org
      .dropdown
        button#account-dropdown.dropdown-toggle.btn.btn-link.em-default.pln.ptn.type-neutral-3(data-toggle='dropdown', type='button')
          span.type-neutral-2.em-default
            span Acme Software Inc
            span.caret.mls
        ul.dropdown-menu.dropdown-menu-left(role='menu', aria-labelledby='account-dropdown')
          li(role='presentation')
            a(role='menuitem', tabindex='-1', href='#') Acme Operations
            a(role='menuitem', tabindex='-1', href='#') Acme People Apps
    hr.mvl
    ul.org-menu-items.list-unstyled.phxl
      li.pvs.apps.em-high.type-neutral-2 Apps
      li.pvs.routes Routes
      li.pvs.services Services
      li.pvs.marketplace Marketplace
    .mvl
    ul.menu-items.list-unstyled.phxl
      li.pvs Tools
      li.pvs Docs
      li.pvs Support

  //- Center Panel
  .col-xs-16.col-sm-16.col-md-16.col-lg-16.bg-neutral-11.pan(style='border-right: 1px solid rgba(0,0,0,0.1); border-left: 1px solid rgba(0,0,0,0.1); min-height: 720px;')
    .row.man.app-status
      .running.col-xs-8.col-sm-8.col-md-8.col-lg-8.txt-c.pvxxl.active
        .h1.em-high.pvn.mvn.type-accent-5
          | 5
        .type-sm.em-low
          | Running
      .crashing.col-xs-8.col-sm-8.col-md-8.col-lg-8.txt-c.pvxxl
        .h1.em-high.pvn.mvn.type-error-3
          | 1
        .type-sm.em-low
          | Crashing
      .stopped.col-xs-8.col-sm-8.col-md-8.col-lg-8.txt-c.pvxxl
        .h1.em-high.pvn.mvn.type-neutral-3
          | 6
        .type-sm.em-low
          | Total
    //- hr.mvn
    .row.man.apps
      .col-xs-24.col-sm-24.col-md-24.col-lg-24.pan.man
        span.dropdown.mvl.mhm
          button#app-actions.dropdown-toggle.btn.btn-default-alt.em-default.type-neutral-3(disabled, type='button', data-toggle='dropdown', arai-haspopup='true', aria-exanded='false')
            span App Actions
            span.caret.mls
          ul.dropdown-menu(role='menu', aria-labelledby='app-actions')
            li.presentation
              a Start
            li.divider.mvn
            li.presentation
              a Stop
            li.divider.mvn
            li.presentation
              a Rename
            li.divider.mvn
            li.presentation
              a Restage
            li.divider.mvn
            li.presentation
              a Restart
            li.divider.mvn
            li.presentation
              a.type-error-3 Delete
        span.dropdown.mvl.mhm
          button#spaces.dropdown-toggle.btn.btn-default-alt.em-default.type-neutral-3(type='button', data-toggle='dropdown', arai-haspopup='true', aria-exanded='false')
            span All Spaces
            span.caret.mls
          ul.dropdown-menu(role='menu', aria-labelledby='spaces')
            li.presentation
              a.type-neutral-6 All Spaces
            li.divider.mvn
            li.presentation
              a conslidify
            li.divider.mvn
            li.presentation
              a Donary
            li.divider.mvn
            li.presentation
              a Opension
            li.divider.mvn
            li.presentation
              a plande
            li.divider.mvn
            li.presentation
              a vlanyale

        table.table.pan
          tr
            th
              input(type='checkbox', name='apps[]', value='all')
            th Name
            th Status
            th Instances
            th Memory
            th Last pushed
            th Routes
            th 
          tr
            td
              input(type='checkbox', name='apps[]')
            td.name 
              a bigcraft
            td.type-accent-5 Running
            td 1
            td 512MB
            td 2 days ago
            td 
              a bigcraft.example.com
            td.prn
              a.fa.fa-icon.fa-chevron-right.pam.small
          tr
            td
              input(type='checkbox', name='apps[]')
            td.name 
              a brite.js
            td.type-accent-5 Running
            td 1
            td 512MB
            td 2 days ago
            td( style='max-width: 200px;')
              .type-ellipsis
                a britejs.example.com
                | , 
                a otherurl.example.com
                | , 
                a otherurl.example.com
            td.prn
              a.fa.fa-icon.fa-chevron-right.pam.small
          tr
            td
              input(type='checkbox', name='apps[]')
            td.name 
              a Morscontly
            td.type-accent-5 Running
            td 1
            td 512MB
            td 2 days ago
            td 
              a morscontly.example.com
            td.prn
              a.fa.fa-icon.fa-chevron-right.pam.small
          tr
            td
              input(type='checkbox', name='apps[]')
            td.name 
              a ntwig
            td.type-accent-5 Running
            td 1
            td 512MB
            td 2 days ago
            td 
              a ntwig.example.com
            td.prn
              a.fa.fa-icon.fa-chevron-right.pam.small
          tr
            td
              input(type='checkbox', name='apps[]')
            td.name 
              a watellabs
            td.type-accent-5 Running
            td 1
            td 512MB
            td 2 days ago
            td 
              a watellabs.example.com
            td.prn
              a.fa.fa-icon.fa-chevron-right.pam.small

  //- Right Panel
  .col-xs-4.col-sm-4.col-md-4.col-lg-4.pan
    .org-quota.phxl.ptxl.pbl
      .em-alt.type-sm.em-low
        | Org Quota
