.col-md-24.pan
  .col-xs-4.col-sm-4.col-md-4.col-lg-4.bg-neutral-9.pan
    | Left Nav
  .col-xs-16.col-sm-16.col-md-16.col-lg-16.bg-neutral-10.pan
    | Workspace
  .col-xs-4.col-sm-4.col-md-4.col-lg-4.bg-neutral-9.pan.pull-right
    | Right Nav
