.col-md-24.pan
  a(href='/')
    .mrm.txt-m.logo(style='background-image: url(/images/pivotal-header-logo@2x.png);')
    span.txt-m.mll.h4.product.type-neutral-11
      span.em-high
        | Apps Manager
