html
  body
    a(href='/')
      .logo(style='background-image: url(/images/pivotal-header-logo@2x.png);')
      |   
      h4.product.type-neutral-11
        span.em-high
          | Single Sign-On
