.col-xs-4.col-sm-4.col-md-4.col-lg-4.pan
  .org-label.phxl.ptxl
    .em-alt.type-sm.em-low
      | Org
    .dropdown
      button#account-dropdown.dropdown-toggle.btn.btn-link.em-default.pln.ptn.type-neutral-3(data-toggle='dropdown', type='button')
        span.type-neutral-2.em-default
          span Acme Software Inc
          span.caret.mls
      ul.dropdown-menu.dropdown-menu-left(role='menu', aria-labelledby='account-dropdown')
        li(role='presentation')
          a(role='menuitem', tabindex='-1', href='#') Acme Operations
          a(role='menuitem', tabindex='-1', href='#') Acme People Apps
  hr.mvl
  ul.org-menu-items.list-unstyled.phxl
    li.pvs.apps.em-high.type-neutral-2 Apps
    li.pvs.routes Routes
    li.pvs.services Services
    li.pvs.marketplace Marketplace
  .mvl
  ul.menu-items.list-unstyled.phxl
    li.pvs Tools
    li.pvs Docs
    li.pvs Support
