.col-xs-4.col-sm-4.col-md-4.col-lg-4.pan
  .org-quota.phxl.ptxl.pbl
    .em-alt.type-sm.em-low
      | Org Quota
    .progress.mts
      .progress-bar(role='progressbar',style='width: 25%;', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
        .label
          | 25%
    p.small
      | 2.5GB of 10GB Used