.header {
  .logo {
    width: 64px;
    height: 64px;
    vertical-align: middle;
    display: inline-block;
    background-size: cover;
  }
}
.org {
  .org-label {}
  .org-menu-items, .menu-items {
    // sldkjf
  }
  .app-status {
    .running, .crashing, .stopped {
      border-right: 1px solid #dadada;
    }
  }
}