span.dropdown.mvl.mhm
  button#app-actions.dropdown-toggle.btn.btn-default-alt.em-default.type-neutral-3(disabled='true', type='button', data-toggle='dropdown', arai-haspopup='true', aria-exanded='false')
    span App Actions
    span.caret.mls
  ul.dropdown-menu(role='menu', aria-labelledby='app-actions')
    li.presentation
      a.pll.type-neutral-5.bg-neutral-11(style='cursor: default;')
        .fa.fa-icon.fa-play.small.mrxl
        | Start
    li.divider.mvn
    li.presentation
      a.pll
        .fa.fa-icon.fa-square.small.mrxl
        | Stop
    li.divider.mvn
    li.presentation
      a.rename.pll
        .fa.fa-icon.fa-pencil.small.mrxl
        | Rename
    li.divider.mvn
    li.presentation
      a.pll
        .fa.fa-icon.fa-repeat.small.mrxl
        | Restart
    li.divider.mvn
    li.presentation
      a.pll
        .fa.fa-icon.fa-refresh.small.mrxl
        | Restage
    li.divider.mvn
    li.presentation
      a.pll.type-error-3
        .fa.fa-icon.fa-trash.small.mrxl
        | Delete
