.row.man.app-states
  a(href='running').status.running.col-xs-8.col-sm-8.col-md-8.col-lg-8.txt-c.pvxl
    .h1.em-high.pvn.mvn.type-accent-5
      | 5
    .type-sm.em-low.type-neutral-3
      | Running
  a(href='crashing').status.crashing.col-xs-8.col-sm-8.col-md-8.col-lg-8.txt-c.pvxl
    .h1.em-high.pvn.mvn.type-error-3
      | 1
    .type-sm.em-low.type-neutral-3
      | Crashing
  a(href='total').status.total.col-xs-8.col-sm-8.col-md-8.col-lg-8.txt-c.pvxl
    .h1.em-high.pvn.mvn.type-neutral-3
      | 6
    .type-sm.em-low.type-neutral-3
      | Total
