.apps-screen.crashing.col-xs-16.col-sm-16.col-md-16.col-lg-16.bg-neutral-11.pan
  //- app states
  include ../states
  .row.man.apps.type-neutral-3
    .col-xs-24.col-sm-24.col-md-24.col-lg-24.pan.man
      //- app actions
      include ../app-actions
      //- spaces dropdown
      include ../spaces-dropdown
      table#apps.table.pan
        tr
          th
            input(type='checkbox', name='apps[]', value='all')
          th Name
          th Status
          th Instances
          th Memory
          th Last pushed
          th Routes
        tr
          td
            input(type='checkbox', name='apps[]')
          td.name 
            a opelog
          td.type-error-3 Crashing
          td 1
          td 512MB
          td Just now
          td.routes
            .type-ellipsis
              a(href='http://example.com', target='_blank') opelog.example.com
