doctype
html
  head
    title Node.js App
    meta( name='viewport', content='width=device-width, initial-scale=1')
    link( rel='shortcut icon', href='/shortcut-icon.png')
    link( rel='stylesheet', href='/css/custom.css', media='screen')
    link( rel='stylesheet', href='/pui-v3.0.0-alpha/pivotal-ui.min.css')
    script( src='/pui-v3.0.0-alpha/pivotal-ui.min.js')
    script( src='/javascripts/functions.js')
  
  body.bg-neutral-10.org( style='min-width: 1280px;')
    .container-fluid.pan
      section.header
        .row.pan.man
          include ../partials/header
      section.content
        .row.pan.man
          include ../partials/content
      section.footer
        include ../partials/footer
